<% include ../partials/header %>
    <div class="row details-content">
        <div class="col-md-3 side-content">
            <p id="details-logo" class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item location-header">
                    <strong>
                        Camp Location:
                    </strong>
                    <%= campground.location %>
                </li>
                <li class="list-group-item">
                    <strong>Longitude: </strong>
                    <%= campground.lng %>
                </li>
                <li class="list-group-item">
                    <strong>Latitude: </strong>
                    <%= campground.lat %>
                </li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">
                        $
                        <%= campground.price %>/night
                    </h4>
                    <h4>
                        <a>
                            <%=campground.name%>
                        </a>
                    </h4>
                    <p>
                        <%= campground.description %>
                    </p>
                    <p>
                        <em>Submitted by:
                            <%= campground.author.username %>,
                                <%= moment(campground.createdAt).fromNow() %>
                        </em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" class="delete-form">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>
                </div>
            </div>
            <% include ../partials/comments %>
        </div>
    </div>


    <script>
        function initMap() {
            var lat = <%= campground.lat %>;
            var lng = <%= campground.lng %>
            var center = { lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: center,
                scrollwheel: false
            });
            var contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
          `
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4iXqFzPVYM_GWjxh8Aq6HWk5T0WtFGQw&callback=initMap"></script>
    <% include ../partials/footer %>